@font-face {
    font-family: 'ReactorSansRegular';
    src: url('reactor-sans.eot');
    src: url('reactor-sans.eot') format('embedded-opentype'),
         url('reactor-sans.woff') format('woff'),
         url('reactor-sans.ttf') format('truetype'),
         url('reactor-sans.svg#ReactorSansRegular') format('svg');
}
